<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <title>{{ title }} - GetCycled</title>

    <link rel="stylesheet" href="/static/content/bootstrap.min.css">   
    <link rel="stylesheet" href="/static/content/todc-bootstrap.min.css">
    <link rel="stylesheet/less" type="text/css" href="/static/content/site.less">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>

    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

            <script>
            $(document).ready(function() {
                $(".nav-button").click(function () {
                    $(".nav-button,.primary-nav").toggleClass("open");
                });   
            });     
        
        </script>

</head>

<body>

    <div id="masthead">
        <div class="container" style="height: 100%;position: relative;">
            
            <div id="mobile_nav">
                <button class="nav-button">&nbsp;</button>
                <ul class="primary-nav">
                    <li><a href="/">What is GetCycled?</a></li> 
                    <li><a href="/deposit">Deposit</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>


            <div class="nav fade_element" id="desktop-navbar">  
                <div class="internalNav">
                    <a href="/">What is GetCycled?</a>  
                    <a href="/deposit">Deposit</a>  
                    <a href="/login">Login</a>  
                </div>
                <div class="nav" id="menuFade">
                    <a style='text-decoration:none' href="/"><h2 id='logo-badge'>GetCycled</h2></a>
                </div>              
            </div>


            <div class="row" style='margin-top:48px;'>
                <header class="col-lg-12 fade_element" id="banner">
                    <div id="h1_container">
                    </div>

                  {% block content %}{% endblock %}
                </header>
            </div>
            <div id="masthead-footer" class="row fade_element" style="">
                <div class="col-lg-4 col-lg-offset-4 col-md-offset-4 col-md-4 ">

                </div>

            </div>
        </div>
    </div>






    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; {{ year }} - My Flask Application</p>
        </footer>
    </div>


    <script src="/static/scripts/bootstrap.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
